body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 600px;
    margin: 20px auto;
    padding: 120px;
    border: 1px solid #ccc;
    background-color: #333;
}

.title {
    text-align: center;
}

.title h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: normal;
}

.title h2 {
    color: #006EB6;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

main {
    text-align: left;
    line-height: 1.5;
}

main p{
    margin-top: 40px;
}

main p + ol {
    margin-left: 20px;
}

main ol li {
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

footer img {
    padding-top: 40px;
    width: 150px;
    height: auto;
}

.dark {
    background-color: #333;
    color: whitesmoke;
}

.dark .title h2 {
    color: #99ccff;
}
